# Files and directories to ignore in the project
#
# Cache files
__pycache__/

# Test directories and files
Test/*

# Build directories
build/
# Distribution directories
dist/
# Python egg files
*.egg
# Python egg-info directories
*.egg-info/
